<div class="cards-1" id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{!-- <div class="above-heading">DESCRIPTION</div> --}}
                <h2 class="h2-heading">Best coversets of mosaic platform<br>
                    <p class="p-small">We provide best designs and codebase to grow your company</p>
                </h2>


            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="images/description-1.png" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Web design</h4>
                        <p>We can provide you best frontend UI/UX websites with multipage and single page environment by
                            various new technologies.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="images/description-2.png" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Graphic design</h4>
                        <p>Logo design, poster design, banner design and many more we provide to you with low cost and
                            modern design architecture.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="images/description-3.png" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Content writing</h4>
                        <p>Mosaic works on your theme and provide you best content and blogs for your website. start
                            your journy with this platform.</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
