<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Now it's time to upgrade your UI/UX</h2>
                    <p>To create the right frontend or design for better user experience and business stratergy join
                        with our platform. contact with us and provide information about website to get better user
                        interface. if you want other than website like logo design, banner design etc then also provide
                        us info about specific work.
                    </p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Understand customers need and provide us proper info</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">write efficient technology names for building design</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="/contact">Contact us</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid img_anime" src="images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
