<div id="features" class="tabs">
    <div class="container">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
            {{!-- <div class="row">
                
                <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h3>
                            Website Templates
                        </h3>
                        <p>
                            this is our first three templates. you can able to download some free and some
                            purchase this
                            templates by scanning QR code. Here is my PAYTM, GOOGLE PAY, PHONE PAY Number
                            8624890857. You have
                            to pay 100Rs on this Number.Those who Pay WhatsApp me
                            <a href="https://api.whatsapp.com/send?phone=918624890857" style="color: blue; " target="_blank">
                                HERE
                            </a>
                            with a screenshot of payment. And, i will send you the template file.
                            Thank You, you gave your time and read all these. Have a great day.
                            Here is the PAYTM QR CODE
                        </p>
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/QRcode.jpeg" alt="alternative" />
                    </div>
                    <!-- end of image-container -->
                </div>
            </div>
            <!-- end of row -->
        </div>
        <br>
        <br> --}}
        

        <div class="row">
            <div class="col-lg-12">
                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                            aria-controls="tab-1" aria-selected="true">
                            {{!-- <i class="fas fa-list"></i> --}}
                            wedding
                        </a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                            aria-controls="tab-2" aria-selected="false">
                            <i class="fas fa-envelope-open-text"></i>
                            bussiness
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab"
                            aria-controls="tab-3" aria-selected="false">
                            <i class="fas fa-chart-bar"></i>
                            freelancing
                        </a>
                    </li> --}}
                </ul>
                <!-- end of tabs links -->
                <!-- Tabs Content -->
                <div class="tab-content" id="argoTabsContent">
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img width="100%" class="img-fluid" src="images/temp/wed.jpg" alt="wedding img " />
                                </div>
                                <!-- end of image-container -->
                            </div>
                            <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>
                                        Wedding Website with Core Tech
                                    </h3>
                                    <p>
                                        Personal wedding websites are websites that engaged couples use to aid in planning and communication for their wedding. The websites are used to communicate with guests of their wedding and inform them of location, date, time, and a gift registry.
                                    </p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                HTML5, Bootstrap
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                CSS3, jQuery
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                Multipage, Responsive
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">
                                        Download
                                    </a>
                                    {{!-- <a class="btn-solid-reg popup-with-move-anim" href="#">
                                        Demo
                                    </a> --}}
                                </div>
                                <!-- end of text-container -->
                            </div>
                            <!-- end of col -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of tab-pane -->
                    <!-- end of tab -->
                    <!-- Tab -->
                    {{!-- <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="images/features-2.png" alt="alternative" />
                                </div>
                                <!-- end of image-container -->
                            </div>
                            <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>
                                        Campaigns Monitoring Tools
                                    </h3>
                                    <p>
                                        Campaigns monitoring is a feature we've developed since the beginning
                                        because it's at the core of Tivo and basically to any marketing activity
                                        focused on results.
                                    </p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                Easily plan campaigns and schedule their
                                                starting date
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                Start campaigns and follow their evolution
                                                closely
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                Evaluate campaign results and optimize
                                                future actions
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">
                                        LIGHTBOX
                                    </a>
                                </div>
                                <!-- end of text-container -->
                            </div>
                            <!-- end of col -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of tab-pane -->
                    <!-- end of tab -->
                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="images/features-3.png" alt="alternative" />
                                </div>
                                <!-- end of image-container -->
                            </div>
                            <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>
                                        Analytics Control Panel
                                    </h3>
                                    <p>
                                        Analytics control panel is important for every marketing team so it's
                                        beed implemented from the begging and designed to produce reports based
                                        on very little input information.
                                    </p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                If you set it up correctly you will get
                                                acces to great intel
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                Easy to integrate in your websites and
                                                landing pages
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">
                                                The generated reports are important for your
                                                strategy
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-3">
                                        LIGHTBOX
                                    </a>
                                </div>
                                <!-- end of text-container -->
                            </div>
                            <!-- end of col -->
                        </div>
                        <!-- end of row -->
                    </div>--}}
                    <!-- end of tab-pane -->
                    <!-- end of tab -->
                </div> 
                <!-- end of tab content -->
                <!-- end of tabs content -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of tabs -->
