<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

        <!-- Image Logo -->
        {{!-- <a class="navbar-brand logo-image" href="/"><img src="img/logo.jpg" alt="alternative"></a>  --}}
        <img src="images/log.png" width="50" alt="alternative" style="border-radius: 30%;"><a class="navbar-brand logo-image" href="/" style="font-size: 30px; padding-left:20px;">Mosaic</a>
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" target="_blank" href="#header">HOME <span
                            class="sr-only">(current)</span></a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link page-scroll" target="_blank" href="#features">FEATURES</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link page-scroll" target="_blank" href="#details">DETAILS</a>
                </li>
                <!-- Dropdown Menu -->


                
                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" target="_blank" href="#video" id="navbarDropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">VIDEO</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" target="_blank" href="/article-details"><span class="item-text">ARTICLE
                                DETAILS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" target="_blank" href="/terms-conditions"><span class="item-text">TERMS
                                CONDITIONS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" target="_blank" href="/privacy-policy"><span class="item-text">PRIVACY
                                POLICY</span></a>
                    </div>
                </li> --}}


                {{!-- <li class="nav-item">
                    <a class="dropdown-item" target="_blank" href="/article-details"><span class="item-text">ARTICLE
                                DETAILS</span></a>
                </li> --}}


                <!-- end of dropdown menu -->

                {{!-- <li class="nav-item">
                    <a class="nav-link page-scroll" target="_blank" href="#pricing">PRICING</a>
                </li> --}}
            </ul>
            <span class="nav-item">
                <a class="btn-outline-sm" target="_blank" href="/log-in">Log In</a>
            </span>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->


