<!-- Slide -->
<div class="swiper-slide">
    <div class="image-wrapper">
        <img class="img-fluid" style="background-color: #5d5fef;" src="images/my.png" alt="alternative">
    </div> <!-- end of image-wrapper -->
    <div class="text-wrapper">
        <div class="testimonial-text">I am a third year engineering student. i started this platform to make better
            UI/UX designs for market growth with low cost work. i design various things like logos, banners, cards,
            posts, websites and also i am content writer and artist(painting, drawing, sketching). i am also youtuber
            through my youtube i want to teach about coding and design.</div>
        <div class="testimonial-author">Shubham Halade - Founder of Mosaic</div>
    </div> <!-- end of text-wrapper -->
</div> <!-- end of swiper-slide -->
<!-- end of slide -->
