<div id="video" class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Video Preview -->
        <div class="image-container">
          <div class="video-wrapper">
            <a class="popup-youtube"
              href="https://www.youtube.com/watch?v=iToC31lGkBc&list=PLwnsMYIY178dyDdh67bPKdJBTNvFDro32&index=2"
              data-effect="fadeIn">
              <img class="img-fluid" src="images/video-image.png" alt="alternative" />
              <span class="video-play-button">
                <span></span>
              </span>
            </a>
          </div>
          <!-- end of video-wrapper -->
        </div>
        <!-- end of image-container -->
        <!-- end of video preview -->
        <div class="p-heading">
          You can understand our vision through this video and if you want more information regarding our platform just subscribe and hit the bell icon so that videos related to our platform and there updates you can watch and get benifits from that
        </div>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-2 -->
